@import url('https://fonts.cdnfonts.com/css/poppins');  

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    /* height:40%; */
    border: 1px solid grey;
    border-radius: 5px;
  }

  .editor{
    padding: 7px;
    font-weight: 300;
  }